body {
    background-color: rgb(211, 37, 37);
}

.game-title-text {
    color: #ffffff;
    font-size: 6em;
}

#poke-img {
    height: 300px;
    width: 300px;
    border: 5px solid yellow;
    display: block;
    margin: auto;
}